body {background:#ededed; color:#fff;}

.chat_head, .chat_footer, .modal_top, .top_background{background: #fc7703;color: #fff;}
.background_chat{background: black}
.input_wrap{background: #ac3004; border-top: 1px solid #191919;}
.input_item{color: rgba(248, 164, 7, 0.986);}
input, textarea, .post_input_container {background: rgb(242, 242, 242);color: rgb(102, 102, 102);border: 1px solid rgb(230, 230, 230) !important;}
.default_btn{background: rgb(1, 40, 50); color: rgb(255, 255, 255);}
.csend{border-radius: 100px;}
.chat_panel{background: #ac3004;}
.panel_bar,.left_list,.listing_half_element,.list_element{border-bottom: 1px solid #6e1804;}
.border_right, #chat_left{border-right: 1px solid #ededed;}
.panel_bar, .user_item, .user_item_custom{border-bottom: 1px solid goldenrod;}
.sub_menu_icon, .menui, .menuo, .menup{color: #03add8;}
.panel_selected{background: #6e1804;}
.border_left, #chat_right{border-left: 1px solid #ededed;}
.log2{background: rgba(20, 17, 17, 0.404);}
.user{color: #666;}
.modal_back{background-color: rgba(0, 0, 0, 0.6);}
.modal_in{background: #191919; color: #fff;}
.sub_item{background: #610d0d; color: #fff;}
.fmenu, .add_shadow{box-shadow: 0 0 1px 1px #6e1804;}
.fmenu_item, .avitem{border-bottom: 1px solid #941e03; background: #d43c04; color: #fff;}
.modal_menu, .tab_menu{background: #d43c04; color: #555;}
.modal_selected, .tab_selected{background: #6e1804; color: #fff;}
.user_count{color: #03add8;}
.back_theme, .theme_btn{background: #03add8; color: #fff;}
.noview{background: orangered; border-bottom: 1px solid orange;}
.background_box{background-image: url("../../imgs/spooky_theme_bg.jpg"); background-repeat: no-repeat; background-size: cover; background-position: 0%;}
.default_color{color: #012832;}
.default_bgcolor{background-color: #012832; color: white;}
.theme_color{color: #03add8;}
.success {color: #74b20e;}
